
.top-title {
    margin: 20px 0px 70px 0px;
}

/* --------------------Title Card ----*/
.welcome {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.welcome-text {
    border: 2px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.welcome-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.welcome-flavour-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*------------------------Question containers ---*/

.question-container {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.question {
    font-size: 20px;
}

.answer {

}

/*--------------------------Hover ---*/

.btn:hover{
    background-color: darkred;
    border: 2px solid darkred;
    transition: all 1s ease-in-out;
}