
.top-title {
    margin: 20px 0px 70px 0px;
}

/* --------------------Title Card ----*/
.welcome {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.welcome-text {
    border: 2px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.welcome-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.welcome-flavour-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    margin-top: 20px;
}

/*--------------------------Hover ---*/

.btn:hover{
    background-color: darkred;
    border: 2px solid darkred;
    transition: all 1s ease-in-out;
}

body{
	font-size: 20px;
	font-family: sans-serif;
	color: #333;
}
.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #3a8;
}
